<div id="<%= dom_id color %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Form:</strong>
    <%= color.form %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Franchise:</strong>
    <%= color.franchise %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= color.size %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Supplier:</strong>
    <%= color.supplier %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Version:</strong>
    <%= color.version %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this color", color, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this color', edit_color_path(color), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
