<!DOCTYPE html>
<html>
  <head>
    <title>StoreManagerV2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <a href="/" aria-current="page">Dashboard</a>
      <a href="/Sales">Sales</a>
      <a href="/Purchases">Purchases</a>
      <a href="/suppliers">Suppliers</a>
      <a href="/brands">Brands</a>
      <a href="/franchises">Franchises</a>
      <a href="/colors">Colors</a>
      <a href="/shapes">Shapes</a>
      <a href="/sizes">Sizes</a>
      <a href="/versions">Versions</a>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
